In [17]:
import numpy as np 
import pandas as pd 

import shapefile as sf
from pyproj import Proj
from censusgeocode import CensusGeocode

import datetime

%matplotlib inline

In [8]:
sl_reader = sf.Reader('shapefiles/Street_Light/Street_Light.shp')
sl_record = pd.DataFrame(sl_reader.records())
sl_shapes = sl_reader.shapes()

In [4]:
# Need to convert each Street Light location to latitude and longitude
sl_record['lon'] = None
sl_record['lat'] = None

In [9]:
p1 = Proj("+init=EPSG:2230", preserve_units=True)
print len(sl_record)
for i in range(0,len(sl_record)): 
    lon, lat = p1(sl_shapes[i].points[0][0], sl_shapes[i].points[0][1],inverse=True)
    sl_record.loc[i, 'lon'] = lon 
    sl_record.loc[i, 'lat'] = lat
    if (i % 500==0):
        print i, i, i

48455
0 0 0
500 500 500
1000 1000 1000
1500 1500 1500
2000 2000 2000
2500 2500 2500
3000 3000 3000
3500 3500 3500
4000 4000 4000
4500 4500 4500
5000 5000 5000
5500 5500 5500
6000 6000 6000
6500 6500 6500
7000 7000 7000
7500 7500 7500
8000 8000 8000
8500 8500 8500
9000 9000 9000
9500 9500 9500
10000 10000 10000
10500 10500 10500
11000 11000 11000
11500 11500 11500
12000 12000 12000
12500 12500 12500
13000 13000 13000
13500 13500 13500
14000 14000 14000
14500 14500 14500
15000 15000 15000
15500 15500 15500
16000 16000 16000
16500 16500 16500
17000 17000 17000
17500 17500 17500
18000 18000 18000
18500 18500 18500
19000 19000 19000
19500 19500 19500
20000 20000 20000
20500 20500 20500
21000 21000 21000
21500 21500 21500
22000 22000 22000
22500 22500 22500
23000 23000 23000
23500 23500 23500
24000 24000 24000
24500 24500 24500
25000 25000 25000
25500 25500 25500
26000 26000 26000
26500 26500 26500
27000 27000 27000
27500 27500 27500
28000 28000 28000
28500 28500 28500
29000 29000 29000
29500 29500 29500
30000 30000 30000
30500 30500 30500
31000 31000 31000
31500 31500 31500
32000 32000 32000
32500 32500 32500
33000 33000 33000
33500 33500 33500
34000 34000 34000
34500 34500 34500
35000 35000 35000
35500 35500 35500
36000 36000 36000
36500 36500 36500
37000 37000 37000
37500 37500 37500
38000 38000 38000
38500 38500 38500
39000 39000 39000
39500 39500 39500
40000 40000 40000
40500 40500 40500
41000 41000 41000
41500 41500 41500
42000 42000 42000
42500 42500 42500
43000 43000 43000
43500 43500 43500
44000 44000 44000
44500 44500 44500
45000 45000 45000
45500 45500 45500
46000 46000 46000
46500 46500 46500
47000 47000 47000
47500 47500 47500
48000 48000 48000

In [14]:
cg = CensusGeocode()

In [15]:
sl_record.loc[i, 'block'] = None
sl_record.loc[i, 'tract'] = None
sl_record.loc[i, 'geoid'] = None
sl_record.loc[i, 'blockgroup'] = None

In [19]:
start = datetime.datetime.now()

for i in range(0,10): 
    if ((sl_record.loc[i,'lon']!=0.0) 
        & (np.isnan(sl_record.loc[i,'lon'])==False)) :
        temp1 = cg.coordinates(x=sl_record.loc[i,'lon'], 
                              y=sl_record.loc[i, 'lat'])
        if (len(temp1[0]['2010 Census Blocks'])>0):
            if ('status' not in temp1[0]['2010 Census Blocks'][0].keys()[0]): 
                temp = temp1[0]['2010 Census Blocks'][0]
                if (temp is not None):
                    sl_record.loc[i, 'block'] = temp['BLOCK']
                    sl_record.loc[i, 'tract'] = temp['TRACT']
                    sl_record.loc[i, 'geoid'] = temp['GEOID']
                    sl_record.loc[i, 'blockgroup'] = temp['BLKGRP']

                if (i % 100 == 0): 
                    finish = datetime.datetime.now()
                    print i, finish-start
                    start = datetime.datetime.now()

0 0:00:01.840060

In [20]:
sl_record[['blockgroup', 'tract']]

      blockgroup   tract
0              3  007600
1              3  007600
2              2  005600
3              2  005600
4              2  003401
5              2  003401
6              2  003401
7              2  003401
8              1  000600
9              1  000600
10           NaN     NaN
11           NaN     NaN
12           NaN     NaN
13           NaN     NaN
14           NaN     NaN
15           NaN     NaN
16           NaN     NaN
17           NaN     NaN
18           NaN     NaN
19           NaN     NaN
20           NaN     NaN
21           NaN     NaN
22           NaN     NaN
23           NaN     NaN
24           NaN     NaN
25           NaN     NaN
26           NaN     NaN
27           NaN     NaN
28           NaN     NaN
29           NaN     NaN
...          ...     ...
48425        NaN     NaN
48426        NaN     NaN
48427        NaN     NaN
48428        NaN     NaN
48429        NaN     NaN
48430        NaN     NaN
48431        NaN     NaN
48432        NaN     NaN
48433        NaN     NaN
48434        NaN     NaN
48435        NaN     NaN
48436        NaN     NaN
48437        NaN     NaN
48438        NaN     NaN
48439        NaN     NaN
48440        NaN     NaN
48441        NaN     NaN
48442        NaN     NaN
48443        NaN     NaN
48444        NaN     NaN
48445        NaN     NaN
48446        NaN     NaN
48447        NaN     NaN
48448        NaN     NaN
48449        NaN     NaN
48450        NaN     NaN
48451        NaN     NaN
48452        NaN     NaN
48453        NaN     NaN
48454        NaN     NaN

[48455 rows x 2 columns]